$margin-default: 1.875rem;

.movieRow{
  margin-bottom: $margin-default;

  & h2{
    margin: 0 0 0 $margin-default;
  }

  &--listArea{
    overflow-x: hidden;
    padding-left: $margin-default;
  }

  &--list{
    transition: all ease .5s;
  }

  &--item{
    display: inline-block;
    width: 9.375rem;
    cursor: pointer;
  }

  &--item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;

    &:hover{
      transform: scale(1);
    }
  }

  &--left, &--right{
    position: absolute;
    width: 2.5rem;
    height: 14.063rem;
    background-color: rgba(#000000, .6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
  }

  &--left{
    left: 0;
  }

  &--right{
    right: 0;
  }

  &:hover &--left, &:hover &--right{
    opacity: 1;
  }
}

@media (max-width: 47.5rem){
  .movieRow{
    &--left, &--right{
      opacity: 1;
    }
  }
}